.s-container {
  margin: -0.5rem -3.5rem;
  background-color: rgba(255, 253, 192, 0.951);
  height: 100%;
  /* display: flex; */
  background: linear-gradient(180deg, rgb(255, 254, 196) 0%, rgba(255, 255, 160, 0) 100%);
}

.services {
  padding: 0 3rem;
  display: flex;
  height: 105vh;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding-top: 1rem;

}

.s-left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.s-left>:nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
}

.s-left>:nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 2.5rem;
  box-shadow: var(--titleShadow)
}

.s-left>:nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.s-button {
  width: 170px;
}

.s-right {
  flex: 1;
}

.cards {
  position: relative;
}

.cards>* {
  position: absolute;

}

.design-card:hover {
  transform: scale(1.05);
}

.dev-card:hover {
  transform: scale(1.05);
}

.ui-card:hover {
  transform: scale(1.05);
}

/* Responsive */
@media screen and (max-width:480px) {
  .s-container {
    margin-top: 0;
    padding-left: 0.5rem;

  }

  .services {
    gap: 5rem;
    height: 43rem;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
    transform: scale(0.9);
    margin-top: -5rem;

  }

  .cards>* {
    margin: 0 15%;
    /* margin-left: 2rem; */
    position: static;
  }

  .s-left>:nth-child(2) {
    box-shadow: none;
  }
}