.card {
  height: 10rem;
  width: 9rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  border-radius: 30px;
  padding: 1px 26px 30px 26px;
  box-shadow: var(--boxShadow);
}

.card>img {
  transform: scale(.7);
  margin-bottom: -1.25rem;
}


.card>:nth-child(3) {
  color: var(--gray);
  font-size: 16px;
}